*, *:before, *:after { 
    margin:0;
    padding:0;
    font-family: Arial,sans-serif;
  }




  main{
    display: flex;
    height: 55rem;
    width: 100%;
    background-image: url(img/pexels-brayan-vieira-7661653.jpg);
    margin: auto;
    justify-content: center;
    align-items: center;
  }

  

  .rec{ 
    box-sizing: border-box;
    background-color: #333333;
    height: 20rem;
    width: 25rem;
    display: flex;
    align-items: center;
    flex-direction: column; 
   justify-content: center;
    border-radius:0 0  1rem 1rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.527);
   

  }

  

  .botao{
    
    
    overflow: hidden;
    height: 3rem;
    border-radius: 0.8rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #242227;
    box-shadow: 0px 6px 10px rgba(37, 37, 37, 0.199);
    overflow: hidden;
    border: none;
    border: 2px solid rgb(51, 46, 46);
    cursor: pointer;
    margin-top: 2rem;
    


    }
    
    .botao::before{
        content: " ";
        width: 0%;
        height: 100%;
        background: #b3070de5;
        position: absolute;
        transition: all 0.4s ease-in-out;
        right: 0;
        
      
        
        
        
    }
    .botao:hover::before{
        right: auto;
        left: 0;
        width: 100%;
       
    }
    
    button span {
        text-align: center;
        text-decoration: none;
        width: 100%;
        padding: 5px 5px;
        color: #fff;
        font-size: 0.8em;
        font-weight: bolder;
        letter-spacing: 0.2em;
        z-index: 20;
        transition: all 0.3s ease-in-out;
        font-family:Arial, Helvetica, sans-serif ;
       }
       
       button:hover span {
        color: #ffffff;
        animation: scaleUp 0.6s ease-in-out;
       }
    
       @keyframes scaleUp {
        0% {
         transform: scale(1);
        }
       
        50% {
         transform: scale(0.85);
        }
       
        100% {
         transform: scale(1);
        }
       }
       
    #botoes{
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 7rem;
        
    }
    #h1-rec{

      position: absolute;
      display: flex;
      width: 23rem;
      padding: 1rem;
      color: rgb(255, 255, 255);
      font-weight: lighter;
      justify-content: center;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      background-color: #1d1d1d;
      border-bottom: 2px solid rgb(184, 1, 1);
      border-radius: 0.9rem 0.9rem 0 0;
      top: 42%;
     
      
    
  }
  
  #h1-rec>h1{
    font-size: 1.7em;
  }
  
  form{
    
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
    
    
  }


  ::-webkit-input-placeholder  {
   
    font-style: italic;
    font-size: small;

   
}

#input{
  margin-top:10rem ;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 1.5rem;
  border-radius: 1rem;
}
  #input>input{
      
      display: flex;
      
      padding: 0.6rem;

      border: none;
      width: 15rem;
      border-bottom:rgb(184, 1, 1) 2px solid ;
      background-color: #2422279a;  
      color: #fff;
  }

@media (max-width: 700px){
.rec{
padding-top: 2rem;
}
  
}

  