*, *:before, *:after { 
    margin:0;
    padding:0;
    font-family: Arial,sans-serif;
  }

body{
    
    background-size: cover 100%;
    background-color: #ffffff;
    background-attachment: fixed;
    height: 100vh;
    
    
  }

  @font-face {
    font-family:'Monserrat';
    src: url(fonts/static/Montserrat-Medium.ttf);
    font-weight: normal;
}

  .img-gpi{
    
    display: flex;
    background-image: linear-gradient(rgba(0, 0, 0, 0.596),rgba(0, 0, 0, 0.548)) , url(img/manager-supervisor-and-worker-discussing-about-production-results-and-new-strategy-in-factory-industrial-hall\ \(1\).jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 70%;
    margin: 0;
    justify-content: center;
    align-items: center;
  }

  .img-gpi h1{
    color: #e7e7e7;
    font-weight: bolder;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.329);
    filter: drop-shadow( 4px 4px 13px rgba(0, 0, 0, 0.329));
    font-size: clamp(2em, 1em + 7vw, 5em);
    text-align: left;
    font-family:'Monserrat';
  }
  .faixa{
    width: 100%;
    background-color: #1d1d1d;
    height: 3rem;
    color: #ffff;
    text-align: center;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;

  }
  main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 90%;

    background-color: #ffff;
    height: max-content;
    margin: auto;
    padding:1rem;
    
  }
.editais-gpi{
  max-width: 100%;
  display: flex;
  height: max-content;
  justify-content: center;
  flex-direction: column;
  
  align-items: center;
  row-gap: 2rem;
  margin: 2rem 0;
  
}
.edital{
  
  max-width: 100%;
  width: 50rem;
  background-color: #1d1d1d;
   border-radius: 0.7rem;
  max-height: max-content;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.356);
  
  
}



.info{
  border-radius: 0.7rem 0.7rem 0 0;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  list-style: none;
  padding: 0.5rem;
  background-color: #333;
  color: white;
  
}

.info li{
  font-size: small;
  font-weight: bold;
  border-left: 2px solid red;
  margin-left: 0.3rem;
  padding-left:0.3rem ;
  
}
 
.add-info{
 display: flex;
 flex-direction: column;
 justify-content: left;
 row-gap: 1rem;
 
 padding: 1rem;


}
.add-info span{
  color: #ffffff;
  font-size: smaller;

}
.linkpdf>img{
  width: 25px;
}

.linkpdf{
  height: max-content;
  display: flex;
  gap: 0.4rem;
  align-items: flex-end ;
}
.linkpdf>a{
  color: #ffffff;
  text-decoration: none;
  
  
  font-size: small;
}

.posi{
  width: 100%;
  
  display: flex;
  justify-content: space-between;
  align-items: center;

}
button{
    
    position: relative;
    overflow: hidden;
    height: 2rem;
    border-radius: 0.8rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    border-radius: 5px;
    background: #312f33;
    box-shadow: 0px 6px 10px rgba(37, 37, 37, 0.199);
    overflow: hidden;
    border: none;
    border: 2px solid rgb(114, 113, 113);
    cursor: pointer;
    }
    button::before{
        content: " ";
        width: 100%;
        height: 0%;
        background: linear-gradient(rgb(223, 4, 4),rgb(177, 16, 16));
        position: absolute;
        transition: all 0.2s ease-in-out;
        right: 0;
        
      
        
        
        
    }
    button:hover::before{
        right: auto;
        left: 0;
        height: 100%;
       
    }
    
    button span {
        text-align: center;
        text-decoration: none;
        width: 100%;
        padding: 5px 5px;
        color: #fff;
        font-size: smaller;
        
        letter-spacing: 0.1em;
        z-index: 20;
        transition: all 0.3s ease-in-out;
        font-family:Arial, Helvetica, sans-serif;
       }
       
       button:hover span {
        color: #ffffff;
        
       }
    
   
       #ins-link{
        text-decoration: none;
       }