*, *:before, *:after { 
    margin:0;
    padding:0;
    font-family:'Monserrat';
  }
  @font-face {
    font-family:'Monserrat';
    src: url(fonts/static/Montserrat-Medium.ttf);
    font-weight: normal;
  }
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
    height: max-content;
    background-color: white;
    margin-bottom: 10rem;
    
}
.fotoper{
    width: 100%;
    position: relative;
    display: flex;
    
    height: 15rem;
    
    justify-content:  center;
}
.imgperf{
    background-image: url(img/121054204_1696312680536415_4117703036042863085_n.jpg);
    background-size: cover;
    position: absolute;
    background-position: center;
    margin-top: 3rem;
    border-radius: 20rem;
    width: 14rem;
    height: 14rem;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.301);
    
}

.button{
    display: flex;
    position: absolute;
    margin-top: 19rem;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
    

}
.button input{
    display: flex;
    border: 1px inset rgba(121, 121, 121, 0.568);
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    border-radius: 10px;
    transition: 0.4s;
}
.botao{
    background-color: rgb(212, 212, 212);
    display: flex;
    border: 2px solid rgba(207, 207, 207, 0.822);
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    border-radius: 10px;
    transition: 0.4s;
    z-index: 1;
    padding:0.5rem 1rem;
    font-weight: bolder;
    font-size: 1em;
    letter-spacing: 0.01em;
}
 
 .botao:hover{
    background-color: rgba(63, 63, 63, 0.856);
    color: #fff;
    
}
.perfil{
    margin-top: 5rem;
    max-width: 100%;
   box-sizing: border-box;
    height: max-content;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.info{
    margin-top: 5rem;
    ;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
form{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
  align-items: center;
  row-gap: 3rem;
}
.campo
{
    
   display: flex;
   justify-content: center;
   align-items: left;
   width: 100%;
   flex-direction: column;
   row-gap: 1rem;
   z-index: 2;
   
   
}
.campo input{
    border: none;
    background-color: #fff;
    color: #3d3d3d;
    font-weight: bolder;
    font-size: 1em;
    max-width: 100%;
    text-align: center;
    
    
   
  
}
.campo label{
    color: rgb(180, 0, 0);
    font-weight: bolder;
    font-size: 1.7em;
    text-align: center;
}

 

#name{
    text-align: center;
    
    font-size: 2rem;
    border: none;
    width: 100%;
   padding:  1rem;
    
    
}

@media (max-width: 700px ) {
    .imgperf{
        margin-top: 4rem;
    }
    #name{
        text-align: center;
        
        font-size: 1.5rem;
        border: none;
        width: 100%;
        padding: 1rem;
        
        
    }
}