*, *:before, *:after { 
    margin:0;
    padding:0;
    font-family: Arial,sans-serif;
  }

  body{
    
    background-size: cover 100%;
    background-color: rgb(36, 36, 36);
    background-attachment: fixed;
    height: 100vh;
  }

  main{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffff;
    max-width: 1000px;
    height: 100%;
    margin: auto;
   

    
  }

  .img-inicio{
    
    display: flex;
    background-image: url(img/wepik-photo-mode-20221016-232549.png);
    background-position: top;
    width: 100%;
    background-size: cover;
    height: 30rem;
    margin: 0;
    justify-content: left;
  }
  
  

  #text{
    padding: 1rem;
    width: 23.5rem;
    display: flex;
    max-width: 45%;
    row-gap: 1.5rem;
    font-size: clamp(1em, 2em + 1vw, 1.8em);
    
    
  }
 #text>h2,p{
    
    color: white;
    padding: 0;
    margin: 0;

  }


  h2>span{
    
  color: rgb(240, 3, 3);

  

  }

  #titu01{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.568);
  }


#para{
  width: 100%;
  background-color: rgb(22, 22, 22);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
}

#para>p{
  text-align: center;
  font-size: clamp(1em, 1em + 1vw, 1em);
  font-weight: bolder;

}





@media  (max-width: 700px) {
  .img-inicio{
    margin-top: 3rem;
  }
}