*, *:before, *:after { 
    margin:0;
    padding:0;
    font-family: Arial,sans-serif;
  }






#cabeca{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #333333 ;
    padding: 1rem;
    
}
#nave{
  
    width: 100%;
}

#menu{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
 
}

#menuf{
    display: flex;
    background-color: #1d1d1d;
    width: 100%;
    padding: 0.3rem;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  
}
#menu a{
    margin-left: 1rem;
    padding: 0.3rem;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-size: 1.3em;
    background-image: linear-gradient( transparent 90%, rgb(180, 4, 4) 90%, rgb(173, 3, 3) 100%);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position-x: right;
    transition: background-size 400ms;
    
}

#menu a:hover{
    
  background-size: 100% 100%;
  background-position: left;
  animation: scale 0.8s ease-in-out;
  
}

@keyframes scale {
    0% {
     transform: scale(1);
    }
   
    50% {
     transform: scale(1.1);
    }
   
    100% {
     transform: scale(1);
    }
   }

#fate{

display: flex;
flex-direction: row;
justify-content: right;
align-items: center;
width: 100%;
gap: 10rem;
margin-right: 5rem;

}
.img{
    
    
    
    filter: drop-shadow(6px 3px 10px rgba(0, 0, 0, 0.664));

}

#titu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
   
    
   
    

}

#titulo{
    
    text-shadow: 6px 4px 10px rgba(0, 0, 0, 0.301);
    filter: drop-shadow(6px 3px 10px rgba(0, 0, 0, 0.356));
    padding: 0.5rem 1rem;
    font-size: 3rem;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-variant: small-caps;
    color: #ffffff;

}


#titulo>a{

    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: rgb(189, 11, 11);
}

footer{
    
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
    margin: 0px 50 0px 20px;
    background: #333333;
    padding: 1rem;
    height: 15rem;

}
#fundope{
    display: flex;
    width: 100%;
    background-color: #1d1d1d;
    color: white;
    justify-content: center;
    flex-direction: column;  
    align-items: center;
 

}
#redes{
    
    display: inline;
    padding: 20px;
    
   
    
    
  
}

#imgpe{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
 
}

#linkpe{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 400px;
    color: white;
    justify-content: left;
    align-items: center;
   
    
}

#linkpe a{
    
    color: rgb(156, 156, 156);
    
}

ul>h2{
    padding: 1rem 0rem;
}
ul li{
    padding: 0.2rem;
}

