
.fundo{ 
  background-color: #3d3d3d;
  padding: 2rem;
  border-radius: 2rem;
  max-width: 40rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.411);
}
.fundo> h1 {
  font-size: 2em;
  margin-bottom: 2rem;
}


main{
  padding: 0 1rem;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
flex-direction: column;
row-gap: 2rem;
}

main h1,p{
  color: white;
}


form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
}
span{
    color: white;
}

#adicionar{
    padding: 0.3rem 1rem;
    border-radius: 10px;
}

#adicionar:hover{
    background-color: rgb(201, 8, 8);
    color: white;
}

#desc{
    display: flex;
 
    width: 15rem;
    padding-bottom: 2rem;
    box-sizing: border-box;
    
}
#dsc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
    text-align: left;
}