*, *:before, *:after { 
    margin:0;
    padding:0;
    font-family: Arial,sans-serif;
  } 
  
  @font-face {
    font-family:'Monserrat';
    src: url(fonts/static/Montserrat-Medium.ttf);
    font-weight: normal;
  }
  
body{
    background-image: url(img/pexels-brayan-vieira-7661653.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    row-gap: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  header{
    
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    margin-top: 4rem;
    font-size: 3em;
    
    padding: 2rem;
    
  }
  header h2{
    font-family:'Monserrat';
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.699);
    
  }
.posi{
  
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

 
}
  .menu_adm{
    padding: 2rem;
    background-color:rgb(37, 37, 37);
    border-radius: 2rem 0rem 0rem 2rem;
    margin: left;
    display: flex;
    height: 100%;
    width: 300px;
   
    display: flex;
  
  }

main{  
 
     border-radius: 0rem 2rem 2rem 0rem;
    background-color:#333333;
    display: flex; 
    padding: 0 1rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  flex-direction: column;
  row-gap: 2rem;
}


.menu_adm>ul>li,a{
    color: white;
    text-decoration: none;
    list-style: none;
   
    
    

}
.menu_adm>ul{
    display: flex;
    flex-direction: column;
    width: 100%;
    

}

.menu_adm>ul>li{
    height: 4rem;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    
   
}

.menu_adm>ul>li>a{

    margin-left: 1rem;
   
}

.menu_adm>ul>li>h2{
  margin-left: 1rem;
  text-align: center;

}



main h1,p{
  color: white;
}
.img{
  
  
  display: flex;
 
  background-size: cover;

 
}
.img img{
  max-width: 100%;
  
  top: 0;
  right: 0;
}

