#date{
    display: flex;
    row-gap: 1rem;
  
  
 
} 



#adicionar{
    font-weight: bolder;
}

input,select{
  margin-top: 1rem;
  border: none;
  border-bottom: 1px solid black;
}


input[type='file'] {
    display: none;

  }
  
  .input-wrapper label {
    background-color: rgb(27, 27, 27);
    color: #fff;
    border-radius: 5px;
    padding: 0.5rem;
    margin: 10px;
    transition: 0.4s;
    
  }
  
  .input-wrapper label:hover {
    background-color: #ad0303;
    
    
  }
  #file-name{
    font-size: small;
    font-weight: bold;
  }
  main{
    padding:  1rem;
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    flex-direction: column;

 
  
  
  }
 

#salvar{
  margin-top: 0.5rem;
  padding: 0.5rem;
  width: 100px;
  text-align: center;
  transition: 0.4s;

  border: 1px solid;
  background-color: #1d1d1d;
}

#salvar:hover{

  background-color: #af0303;
  
}