*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

@font-face {
  font-family: 'Monserrat';
  src: url(../fonts/static/Montserrat-Medium.ttf);
  font-weight: normal;
}

body {

  min-width: 100vw;
  min-height: 100vh;
 
}




#adm{
  filter: invert(100%);
  width: 2rem;
  padding-left: 1rem;
}

header {
  background-color: rgb(39, 39, 39);
  color: white;
  display: flex;
  justify-content: left;

  align-items: center;

  padding: 1.3rem;

  box-shadow: 2px 2px 2px 10px rgba(0, 0, 0, 0.616);
 
 
}

header h2 {
  font-family: 'Monserrat';
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.699);
  padding-left:0.4rem;
 font-size: 1rem;
}

.posi {
 
  min-width: 100vw;
  min-height: 100%;
  background-color: rgb(255, 255, 255);

  display: flex;
  flex-direction: row;

}




.input{
  display: flex;
  flex-direction: column;
  width: 20rem;
  font-weight: bolder;
 

  
}


.input>input{
  margin-top: 1rem;
  border: none;
  border-bottom: 1px solid black;
 
}
main{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.form>h1{
margin-bottom: 4rem;  
font-size: 2rem;
text-align: center;
}
.formin{
  display: flex;
  flex-direction: row;
  gap: 6rem;
  margin-left: 5rem;
  

}

#cara{

  font-size: 0.6rem;
 
}
.cadastro{
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  margin-top: 3rem;

}
.reveal{
  display: flex;
  justify-content: center;
}
.botao{
    
  position: relative;
  overflow: hidden;
  color: #fff;
  border-radius: 0.3rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  background: #535252;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.281);
  overflow: hidden;
  border: none;
  
  cursor: pointer;
  }
  .botao::before{
      content: " ";
      width: 0%;
      height: 100%;
      background: #ca040be5;
      position: absolute;
      transition: all 0.6s ease-in-out;
      right: 0;
      
    
      
      
      
  }
  .botao:hover::before{
      right: auto;
      left: 0;
      width: 100%;
     
  }

  button span {
    text-align: center;
    text-decoration: none;
    width: 100%;
  
    color: #fff;
    font-size: small;
    font-weight: bolder;
    letter-spacing: 0.1em;
    z-index: 20;
    transition: all 0.4s ease-in-out;
    font-family:Arial, Helvetica, sans-serif ;
   }
   
   button:hover span {
    color: #ffffff;
    animation: scaleUp 0.6s ease-in-out;
   }

   @keyframes scaleUp {
    0% {
     transform: scale(1);
    }
   
    50% {
     transform: scale(0.85);
    }
   
    100% {
     transform: scale(1);
    }
   }
   
#botoes{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin-top: 4rem;
    margin-bottom: 3rem;
}
.fundo {
  display: flex;
  justify-content: left;
  flex-direction: column;
  
}

.menu_adm {
  padding: 2rem;
  width: 20rem;
  background-color: rgb(39, 39, 39);
  height: 100vh;
  

}



.menu_adm>ul>li,
a {
  color: white;
  text-decoration: none;
  list-style: none;
  transition: 0.4s;
  font-weight: bolder;
  padding: 0.2rem;





}

.menu_adm>ul>li>a:hover {
  background-color: rgb(134, 134, 134);
  color: #fff;
  text-decoration: none;
  list-style: none;
  padding: 0.5rem;
  border-radius: 5px;
  





}

.menu_adm>ul {
  display: flex;
  flex-direction: column;



}

.menu_adm>ul>li {
  height: 4rem;

  display: flex;
  justify-content: left;
  align-items: center;



}

.menu_adm>ul>li>a {

  margin-left: 1rem;

}

.menu_adm>ul>li>h2 {
  margin-left: 1rem;
  text-align: center;
  
color: rgb(255, 255, 255);
border-left: 4px solid rgb(228, 0, 0) ;
font-family: 'Monserrat' ;
padding-left:0.2rem ;


}




main h1,
p {
  color: rgb(0, 0, 0);
}

.img {


  display: flex;

  background-size: cover;


}

.img {
  width: 10rem;
  direction: 10rem;

 
}